<% content_for :title, t('.title') %>

<h1><%= t('.title') %></h1>

<%= render "form", book: @book %>

<br>

<div>
  <%= link_to t('defaults.show'), @book %> |
  <%= link_to t('defaults.lists'), books_path %>
</div>
